<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="AllSectorNames" value="accountSector,loanSector,transactionSector"/>
    <add key="Sectors" value='{
	                              "sectors": {
		                              "accountSector": {
			                              "address": "net.tcp://localhost:9990",
			                              "endpointName": "AccountSector"
		                              },
                                  "loanSector": {
                                    "address": "net.tcp://localhost:9991",
                                    "endpointName": "LoanSector"
                                  },
                                  "transactionSector": {
                                    "address": "net.tcp://localhost:9992",
                                    "endpointName": "TransactionSector"
                                  }
	                              }
                             }'
     />
    <add key="SectorQueueSize" value="1"/>
    <add key="SectorQueueTimeoutInSeconds" value="3600"/>
    <add key="SectorResponseServiceAddress" value="net.tcp://localhost:9993"/>
    <add key="SectorResponseServiceEndpoint" value="SectorResponse"/>
    <add key="AuditServiceAddress" value="net.tcp://localhost:9998"/>
    <add key="AuditServiceEndpointName" value="AuditService"/>
    <add key="StartupConfirmationServiceAddress" value="net.tcp://localhost:9989"/>
    <add key="StartupConfirmationServiceEndpointName" value="StartupConfirmation"/>
  </appSettings>
</configuration>