<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="BankServiceAddress" value="net.tcp://localhost:9989"/>
    <add key="BankServiceEndpointName" value="Bank"/>
    <add key="AccountSectorServiceAddress" value="net.tcp://localhost:9990"/>
    <add key="LoanSectorServiceAddress" value="net.tcp://localhost:9991"/>
    <add key="TransactionSectorServiceAddress" value="net.tcp://localhost:9992"/>
    <add key="AccountSectorServiceEndpointName" value="AccountSector"/>
    <add key="LoanSectorServiceEndpointName" value="LoanSector"/>
    <add key="TransactionSectorServiceEndpointName" value="TransactionSector"/>
    <add key="SectorResponseServiceAddress" value="net.tcp://localhost:9993"/>
    <add key="SectorResponseServiceEndpoint" value="SectorResponse"/>
    <add key="AuditServiceAddress" value="net.tcp://localhost:9998" />
    <add key="AuditServiceEndpointName" value="AuditService" />
  </appSettings>
</configuration>